.git
.gitignore
.env
.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.result.cache
README.md
tests
.editorconfig
.styleci.yml
docker-compose.yml
Dockerfile
.dockerignore
